# SQLITE 실습

## 01. SQLite를 활용한 Table 생성 및 Insert, Select 기본

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
%cd gdrive/MyDrive/01.\ 강의/2023.03 Big Data/12. DB on Python/codes/data
!pwd
!ls

/content/gdrive/MyDrive/01. 강의/2023.03 Big Data/12. DB on Python/codes/data
/content/gdrive/MyDrive/01. 강의/2023.03 Big Data/12. DB on Python/codes/data
naverDB  testdb1

In [3]:
import sqlite3

In [4]:
con = sqlite3.connect("naverDB")

In [5]:
cur = con.cursor()

In [6]:
cur.execute("CREATE TABLE userTable (id char(4), userName char(15), email char(20), birthYear int)")

OperationalError: ignored

In [ ]:
cur.execute("INSERT INTO userTable VALUES('john', 'john Bann', 'john@naver.com', 1990) ")

In [ ]:
con.commit()

In [ ]:
result = cur.execute("SELECT * FROM userTable")

In [ ]:
while (True):
  row = cur.fetchone()
  print(row)
  if row == None:
    break

('john', 'john Bann', 'john@naver.com', 1990)
None

In [ ]:
con.close()

## 02. 사용자 입력을 통한 데이터 입력처리 및 출력

In [ ]:
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql = ""

## 메인 코드 부분 ##
con = sqlite3.connect("./data/testdb1") # DB가 저장된 폴더까지 지정
cur = con.cursor()
cur.execute("CREATE TABLE userTable (id char(4), userName char(15), email char(20), birthYear int)")

while (True):
  data1 = input("사용자ID ==> ")
  if data1 == "" :
    break
  data2 = input("사용자이름 ==> ")
  data3 = input("이메일 ==> ")
  data4 = input("출생연도 ==> ")
  sql = "INSERT INTO userTable VALUES('" + data1 + "','" + data2 + "','" + data3 + "', " + data4 + ")"
  cur.execute(sql)
con.commit()
con.close()

사용자ID ==> jujbob
사용자이름 ==> 임경태
이메일 ==> jujbob@gmail.com
출생연도 ==> 1999
사용자ID ==> ktlim
사용자이름 ==> 임공톼
이메일 ==> ktlim@mit.ac.kr
출생연도 ==> 2021
사용자ID ==> chatGPT
사용자이름 ==> 챗지피
이메일 ==> chatGPT@gmail.com
출생연도 ==> 1985
사용자ID ==>

In [ ]:
con = sqlite3.connect("testdb1") # DB가 저장된 폴더까지 지정
cur = con.cursor()
cur.execute("SELECT * FROM userTable")

print("사용자ID 사용자이름 이메일 출생연도")
print("--------------------------------------------")

while (True) :
  row = cur.fetchone()
  if row == None :
    break
  data1 = row[0]
  data2 = row[1]
  data3 = row[2]
  data4 = row[3]
  print("%5s %15s %20s %d" % (data1, data2, data3, data4))

con.close()

사용자ID 사용자이름 이메일 출생연도
--------------------------------------------
jujbob             임경태     jujbob@gmail.com 1999
ktlim             임공톼      ktlim@mit.ac.kr 2021
chatGPT             챗지피    chatGPT@gmail.com 1985